<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">


<listeners>
<listener class-name="Academy.End2EndProject.Listeners"/>

</listeners>

  <test thread-count="5" name="DisplayTest">
    <classes>
      <class name="Academy.End2EndProject.Validatetext"/>
         </classes>
  </test> <!-- Test -->
      <test thread-count="5" name="ValidateTest">
    <classes>
      <class name="Academy.End2EndProject.Validatedisplay"/>
         </classes>
  </test> <!-- Test -->
      <test thread-count="5" name="MainTest">
    <classes>
      <class name="Academy.End2EndProject.FirstProject"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
